<div class="container">
    <div class="row">
            <div class="col-md-12 cover-image position:relative;">
                <p><strong>HAND-MATE</strong>
                    
                    <div>HNAD MATE好きさんたちのための<br>
                         HAND MATEでつながるコミュニティサイト
                    </div>
                    
                    <h4>新着作品<h4>
                        <div>-新しく投稿された作品です-</div>
                        
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <h2><strong>新着商品</strong></h2>
                            </div>
                            
                        <div class="row">
                            <div class="col-md-12">
                                <%#= link_to '全ての商品を見る＞', items_path %>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <%#= link_to %>
                            </div>
                        </div>
                </div>
            </div>
    </div>
</div>
    
    